.header-div{
	position: fixed;
	width: calc(100% - 180px);
	right: 0px;
	height: 70px;
	background-color: #222131;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
}

.header-div .inner{
	width: 95%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.header-div .inner .logo{
	width: 220px;
}

.header-div .inner .logo img{
	width: 100%;
	object-fit: cover;
}


.header-div .inner .middle-div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-div .inner .middle-div .dash-pro{
	padding: 0px;
	margin: 0px;
	display: flex;
    justify-content: start;
	gap: 10px;
}

.header-div .inner .middle-div .dash-pro li{
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: var(--main-logo-color);
	font-size: 13px;
	border-radius: 4px;
	cursor: pointer;
	font-family: body-font;
	-moz-transition:all 0.2s ease-in 0.2s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.header-div .inner .middle-div .dash-pro li i{
	margin-right: 5px;
	color:var(--secondary-color);
}

.header-div .inner .middle-div .dash-pro li:hover{
	background-color: #42424E;
}
.header-div .inner .middle-div .dash-pro .active{
	background-color: #42424E;
	color: var(--main-logo-color);
}

.header-div .inner .middle-div .icon{
	padding: 0px;
	margin: 0px;
	width: 130px;
	height: 50px;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.header-div .inner .middle-div .icon li{
	list-style: none;
	width: 48px;
	height: 48px;
	font-size: 20px;
	background-color: #181623;
	border: none;
	color: var(--main-logo-color);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 0.2s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.header-div .inner .middle-div .icon li:hover{
	color: var(--secondary-color);
	background-color: #42424E;
}

.header-div .inner .icon-profile{
	display: flex;
	align-items: center;
	gap: 10px;
}

.header-div .inner .icon-profile .pic{ 
	width: 50px;
	height: 50px;
	border-radius: 4px;
	overflow: hidden;
}

.header-div .inner .icon-profile .pic img{ 
	width: 100%;
	object-fit: cover;
}

.header-div .inner .icon-profile .txt-div { 
	width: 150px;
	display: flex;
	gap: 6px;
	flex-direction: column;
	justify-content: center;
}

.header-div .inner .icon-profile .txt-div h4{ 
	margin: 0px;
	padding: 0px;
	color: #FAFBFF;
	font-size: 20px;
	font-family: sub-title-font;
}

.header-div .inner .icon-profile .txt-div p{ 
	color: #E2E2EA;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

.header-div .inner hr{ 
padding: 0px;
margin: 0px;
height: 50px;
}


/* ----------main body(first and second)---------- */



.first{
	position: fixed;
	width: 180px;
	height: 100%;
	top: 0px;
	background-color: #222131;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.first .logo{
	width: 140px;
	margin-top: 8px;
}

.first .logo img{
	width: 100%;
}

.first ul{
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.first ul li{ 
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	color: var(--main-logo-color);
	-moz-transition:all 0.2s ease-in 0.2s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
	
}

.first ul li:hover{ 
	color: var(--secondary-color);
	
}

.first ul li i{ 
	width: 52px;
	height: 52px;
	background-color: #42424E;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 20px;
}
.first button p{ 
	font-size: 16px;
} 

.first ul .active-li{ 
	color: var(--secondary-color);
}

.first ul .hidden{ 
	display:none;
}

.dashboard-content{
	position: absolute;
	width: calc(100% - 180px);
	height: calc(100% - 70px);
	right: 0px;
	top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}
.dashboard-content .second-inner{
	width: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px 40px;
}

.dashboard-content .second-inner .title-div{
	width: 100%;
	display: flex;
	border-bottom: #636374 1px dashed;
	padding: 10px;
	gap: 50px;
}

.dashboard-content .second-inner .title-div .info-div{
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.dashboard-content .second-inner .title-div .border{
	border-left: #636374 1px dashed;
	padding: 0px 40px;
}

.dashboard-content .second-inner .title-div .info-div h2{
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	color: #FAFBFF;
	font-family: title-font;
}

.dashboard-content .second-inner .title-div .border h2{
	color: var(--secondary-color); 
}

.dashboard-content .second-inner .title-div .info-div span{
	font-size: 14px;
	color: #c7c8c9;
}

.dashboard-content .second-inner .title-div .info-div span i{
	font-size: 12px;
	color: #c7c8c9;
}



.dashboard-content .second-inner .booking{
	width: 100%;
	min-height: 100px;
	display: flex;
	gap: 15px;
}
.dashboard-content .second-inner .booking .con{
	width: 25%;
	min-height: 120px;
	background: linear-gradient(to bottom, rgba(89,191,255, 0.952), rgba(89,212,255, 0.952));
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: #FAFBFF;
}

.dashboard-content .second-inner .booking .shedule{
	background: linear-gradient(to bottom, rgba(77,223,152, 0.952), rgba(84,243,151, 0.952));
}

.dashboard-content .second-inner .booking .check-in{
	background: linear-gradient(to bottom, rgba(253,191,106, 0.952), rgba(255,223,130, 0.952));
}

.dashboard-content .second-inner .booking .check-out{
	background: linear-gradient(to bottom, rgba(255,129,97, 0.952), rgba(254,186,121, 0.952));
}


.dashboard-content .second-inner .booking .con .text-div-in {
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	flex-direction: column;
	gap: 25px;
}

.dashboard-content .second-inner .booking .con .text-div-in .txt-icon{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
}

.dashboard-content .second-inner .booking .con .text-div-in .txt-icon .txt{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.dashboard-content .second-inner .booking .con .text-div-in .txt-icon .txt h3{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-family: title-font;
}

.dashboard-content .second-inner .booking .con .text-div-in .txt-icon .txt p{
	font-size: 18px;
}

.dashboard-content .second-inner .booking .con .text-div-in .txt-icon i{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}


.statistics{
	width: 100%;
	margin-top: 30px;
}



.search-div-back{
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	gap: 2px;
	background: #d4d4d5;
	padding: 2px 10px;
	border-radius: 5px;
}

.search-div-back .text_field{
	width: 85%;
	box-sizing: border-box;
	padding: 15px 15px;
	border: none;
	outline: none;
	background: #e3e3e6;
	border-radius: 3px;
	font-family: body-font;
}

.search-div-back .text_field:focus{
	border: #a9b5be 1px solid;
}

.search-div-back .select-div{
	width: 15%;
}


.admin-detail{
	width: 100%;
	min-height: 150px;
	box-sizing: border-box;
	padding: 0px 15px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.admin-detail .account{
	width: 30%;
	min-height: 140px;
	background-color: rgb(61, 61, 66);
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0px 10px;
	gap: 15px;
	border-radius: 4px;
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 0.2s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.admin-detail .account:hover{
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	transform: scale(1.02);
	background-color: rgb(75, 75, 80);
}

.admin-detail .account .imageBox{
	width: 100px;
	height: 100px;
	border-right: #646379 1px solid;
	border-bottom: #646379 1px solid;
	box-sizing: border-box;
	padding: 10px;
}

.admin-detail .account .imageBox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.admin-detail .account .contentBox{
	display: flex;
	flex-direction: column;
	gap: 10px;
}


.admin-detail .account .contentBox h3{
	font-size: 22px;
	padding: 0px;
	margin: 0px;
	color: var(--white-color);
}

.admin-detail .account .contentBox hr{
	border: none;
    height: 2px;
    background-color: var(--secondary-color);
	width: 70px;
	text-align: left; 
    padding: 0;
    margin: 0;
}

.admin-detail .account .contentBox .detail{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.admin-detail .account .contentBox .detail span{
	font-size: 12px;
	color: var(--text-color);
}

/* .second .inner .center{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}

.second .inner .admin-detail .accordion{
	width: 98%;
	min-height: 200px;
	border-left:  var(--secondary-color) 1px solid;
	border-right:  var(--secondary-color) 1px solid;
	border-bottom:  var(--secondary-color) 1px solid;
}

.second .inner .admin-detail .accordion .faq{
	width: 100%;
	min-height: 50px;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #c7c8c9;
}

.second .inner .admin-detail .accordion .faq .content{
	width: 30%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
}

.second .inner .admin-detail .accordion .faq .content .number{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: #181623 1px solid;
}

.second .inner .admin-detail .accordion .faq .content .answer{
	width: calc(100% - 50px);
	height: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 19px;
}

.second .inner .admin-detail .accordion .faq .edit{
	width: 30%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
	margin-right: 10px;
}

.second .inner .admin-detail .accordion .faq .edit i{
font-size: 25px;
}

.second .inner .admin-detail .accordion .faq .edit-btn{
	width: 60px;
	height: 30px;
	background-color:#f24e08;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	font-size: 13px;
	border-radius: 3px;
	cursor: pointer;
}

.second .inner .admin-detail .accordion .faq .edit-btn i{
	font-size: 13px;
}
.second .inner .admin-detail .accordion .main-con{
	width: 100%;
	min-height: 150px;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	line-height: 20px;
} 

 
 */


.chart-back-div{
	min-height: 200px;
	margin-top: 30px;
}

.chart-div{
	min-height:60px;
	margin-top:5px;
	padding:10px;
	min-width: 290px;
}

.chart-div .chart .rev-report{
	font-size:16px;
	text-align:center;
	padding:10px;
	color:#666;
}
.chart-div .chart .rev-report .revenue{
	font-size:20px;
	line-height:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#444;
}




.chart-div-notifications{
	padding: 0px 2% 0px 2%;
	min-height: 40px;
	line-height: 40px;
	color: #999;
	font-size: 12px;
	border-bottom: rgba(204,204,204,.3) 1px solid;
}


.chart-div-notifications .text{
	float:left;
	font-size: 11px;
	margin-left: 10px;
}

.chart-div-notifications .text-right{
	height: 35px;
	min-width: 120px;
	line-height: 35px;
	font-size: 10px;
	padding: 0px 15px;
	border-radius: 20px;
	background-color: #fafafa;
	float: right;
	cursor: pointer;
}


.chart-div-notifications .text-right .icon-div{
	float: right;
	font-size: 18px;
	margin-top: 10px;
	color: var(--body-color);
}
.chart-div-notifications .text span{
	color:#444;
	font-weight:bold;
	cursor:pointer;
}
.chart-div-notifications .text i{
	color:#444;
}

.chart-div-notifications .text .srch-select{
	min-height:100px; 
	background:#444; 
	margin-top:10px; 
	margin-bottom: 50px;
	width:150px; 
	position: absolute; 
	z-index:100;
	padding-top:5px;
	border-radius:5px;
	display:none;
}
.chart-div-notifications .text .srch-select:after{
	content:"";
	width:0px;
	height:0px;
	position: absolute;
	border:15px solid;
	border-color:  transparent  transparent #444 transparent;
	left:98px;
	top:-25px;
}

.chart-div-notifications .text .srch-select div{
	padding:7px;
	height:15px;
	line-height: 15px;
	color:#ccc;
	-webkit-transition:all ease 0.5s;
	-ms-transition:all ease 0.5s;
	-o-transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
	cursor:pointer;
	font-size:15px;
}
.chart-div-notifications .text .srch-select div:hover{
	padding:10px;
	color:#424242;
	background:#ecf0f1;
	-webkit-transition:all ease 0.5s;
	-ms-transition:all ease 0.5s;
	-o-transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
}


.chart-div-notifications .text .custom-srch-div{
	display:none;
}

.chart-div-notifications .text .custom-srch-div .srchtxt{
	width:30%;
	height: 17px;
	padding:5px 5px 5px 15px;
	background:none;
	border: #bdc3c7 1px solid;
	border-radius:3px;
	color:#686868;
	-webkit-text-fill-color: #686868;
	margin-right:5px;
	font-size: 11px;
    font-family: body-font;
	outline: none !important;
}

.chart-div-notifications .text .custom-srch-div .complain{
    border:var(--subactive-color) 1px solid;
    -moz-appearance:none;
    -moz-transform:scale(1.02) translate(1px,0px);
    -webkit-transform:scale(1.02) translate(1px,0px);
 }

.chart-div-notifications .text .custom-srch-div .btn{
	padding:4px 10px;
	border:none;
	border-radius:3px;
	min-width:65px;
	cursor: pointer;
	font-family: body-font;
	background:#444;
	border:#444 1px solid;
	color:#FFF;
	font-size: 11px;
	-webkit-transition:all ease 0.5s;
	-ms-transition:all ease 0.5s;
	-o-transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
}
.chart-div-notifications .text .custom-srch-div .btn:hover{
	background:#FFF;
	color:#444;
}


@media all and (max-width:340px) {
.chart-div-notifications .text .custom-srch-div{
	text-align:center;
}
.chart-div-notifications .text .custom-srch-div .srchtxt, .chart-div-notifications .text .custom-srch-div .btn{
	width:80%;
	margin-bottom:5px;
	padding:10px;
}
}