

.body-div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-div .div-in{
	width: 80%;
	min-height: 500px;
	max-width: 1200px;
	/* max-height: 1200px; */
	display: flex;
	background: var(--white-color);
	border-radius: 15px;
}

.body-div .div-in .left-div{
	width: 50%;
	min-height: 100px;
	border-radius: 15px 0px 0px 15px;
}

.body-div .div-in .left-div img{
	width: 100%;
	height: 100%;
	border-radius: 15px 0px 0px 15px;
	object-fit: cover;
}

.body-div .div-in .form-div{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-div .div-in .form-div .inner{
	width: calc(100% - 100px);
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
}

.body-div .div-in .form-div .inner .logo{
	width: 120px;
}

.body-div .div-in .form-div .inner .logo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.body-div .div-in .form-div .inner h2{
	margin: 0px;
	padding: 0px;
	font-size: 22px;
	font-family: sub-title-font;
	color: var(--primary-color);
}

.body-div .div-in .form-div .inner .input-div{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-div #next_2{
	display: none;
}

.body-div .div-in .form-div .inner .input-div .container-div{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.body-div .div-in .form-div .inner .input-div .container-div .title-div{
	font-family: body-font;
	font-size: 15px;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	gap: 6px;
}
.body-div .div-in .form-div .inner .input-div .container-div .title-div i{
	color: var(--secondary-color);
}

.body-div .div-in .form-div .inner .input-div .container-div .text_field{
	width: 100%;
	padding: 12px;
	font-family: body-font;
	font-size: 13px;
	color: var(--primary-color);
	border-radius: 4px;
	border: #afafaf 1px solid;
	outline: none;
}

.body-div .div-in .form-div .inner .input-div .container-div .text_field:focus{
	border: var(--secondary-color) 1px solid;
}

.body-div .div-in .form-div .inner .input-div .btn{
	width: 100%;
	height: 50px;
	border: none;
	background: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: var(--white-color);
	font-family: sub-title-font;
	font-size: 16px;
	cursor: pointer;
}

.body-div .div-in .form-div .inner .input-div .btn i{
	font-size: 20px;
}

.body-div .div-in .form-div .inner .input-div .btn:hover{
	background-color: #505053;
}


.body-div .div-in .form-div .inner .remember-forgot{
	min-height: 50px;
	display: flex;
	border-bottom: #afafaf 1px dashed;
}

.body-div .div-in .form-div .inner .remember-forgot .forgot{
    display: flex;
	font-size: 12px;
	color: #757171;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: body-font;
}

.body-div .div-in .form-div .inner .remember-forgot .forgot span{
	font-size: 15px;
	color: var(--secondary-color);
	font-family: sub-title-font;
	cursor: pointer;
}

.body-div .div-in .form-div .inner .remember-forgot .forgot span:hover{
	color: var(--primary-color);
}
/* ///////////// login responsiveness ///////////// */
@media only screen and (max-width: 892px) {
	.body-div .div-in .left-div{
		display: none;
	}

	.body-div .div-in .form-div{
		width: 100%;
	}
		
}


.overlay-div{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(5, 5, 5, 0.7);
    z-index: 500;
    display: none;
}

.ajax-loader{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top:50px;
	font-size:18px;
	color:#bdc3c7;
}
.ajax-loader span{
	color:#FFF;
	cursor:pointer;
}


/* -----Reset password otp */
.container{
	position: absolute;
	top: 7%;
	left: 25%;
	width: 50%;
	min-height: 670px;
	background-color: var(--white-color);
	display: flex;
	justify-content: center;
	border-radius: 4px;
	
}

.container .inner{
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.container .inner .reset{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .inner .reset-div{
	display: flex;
	font-size: 13px;
	gap: 2px;
}

.container .inner .reset .bi-x{
	width: 30px;
	height: 30px;
	border-radius:50px;
	font-size: 20px;
	background-color: var(--close-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
}

.container .inner .reset .bi-x:hover{
	background-color: #7e1608;
	cursor: pointer;
}

.container .inner .message-box{
	width: 100%;
	min-height: 60px;
	background-color: rgb(197, 215, 241);
	font-size: 13px;
	display: flex;
	border: #0871ea 1px solid;
}

.container .inner .message-box p{
	margin-left: 10px;
}

.container .inner .message-box span{
	color: #3939ee;
}

.container .inner .otp{
	width: 100%;
	min-height: 60px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	
}
.container .inner .otp input{
	height: 50px;
	padding: 0px 10px;
	border-radius: 4px;
	font-size: 12px;
	outline: none;
	border: #757171 1px solid;
}

.container .inner .otp input:focus{
	border: var(--secondary-color) 1px solid;
}

.container .inner .otp .resend-otp{
	width: 100%;
	min-height: 50px;
	border-radius: 4px;
	display: flex;
	background-color:  rgb(255, 234, 218);
}

.container .inner .otp .resend-otp p{
	margin-left: 10px;
}

.container .inner .otp .resend-otp span{
	color: #3939ee;
}

.container .inner .otp .resend-otp span a:hover{
	color: var(--body-color);
}

.container .inner .create p{
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	font-size: 13px;
}

.container .inner .btn{
	width: 100%;
	height: 50px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	border:none ;
	color: var(--white-color);
}

.container .inner .btn:hover{
	background-color: var(--body-color);
	cursor: pointer;
}



/*///////////////// successful///////////// */

.success{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 40%;
	min-height: 400px;
	
}

/* .container .inner{
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
} */

.container .inner .gif-div{
	width: 150px;
	height: 150px;
	padding: 20px 0px;

}

.container .inner .gif-div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .inner .text-div{
	max-width: 450px;
	min-height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .inner .text-div h1{
	margin: 0px;
	padding: 0px;
	font-weight: lighter;
	font-size: 20px;
}

.container .inner .text-div p{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

.container .inner .suc-btn{
	width: 40%;
}

/* 	

.body-div .div-in .form-div .con-div .inner .resend span{	
	color: blue;
}


.body-div .form-div .con-div .inner .reset{
	width: 90%;
	height: 20px;
	display: flex;
	font-size: 12px;
	align-items: center;
	gap: 3px;
}

.body-div .form-div .con-div .inner .reset button{
	border: none;
	background-color: transparent;
	color: #e7880c;
}

.body-div .form-div .con-div p{
	font-size: 13px;
	color: #757171;
} */



/* For alert */

.all-alert-back-div {
    position: fixed;
    z-index: 2000;
    height: 1px;
    top: 0px;
    width: 100%;
	display: none;
    justify-content: center;
    align-items: center;
}

.all-alert-back-div .success-alert-div,
.all-alert-back-div .failed-alert-div {
	margin-top: 100px;
    min-height: 50px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    background: #006a35;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.all-alert-back-div .success-alert-div .icon,
.all-alert-back-div .failed-alert-div .icon {
	width: 50px;
    border-radius: 5px 0px 0px 5px;
    background: #00ca65;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.all-alert-back-div .success-alert-div .text,
.all-alert-back-div .failed-alert-div .text {
	width: calc(100% - 70px);
    padding-right: 10px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sub-title-font;
}

.all-alert-back-div .failed-alert-div {
	background: #6a0000;
}

.all-alert-back-div .failed-alert-div .icon {
	background: #ca0000;
}

.all-alert-back-div .failed-alert-div .text {
	color: #FFF;
}